"*":
  "exception-reporting":
    userId: "53c5f869-8a29-d7f5-ef48-bc598612bb8d"
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
  tabs:
    usePreviewTabs: true
  core: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  react: {}
