"*":
  "exception-reporting":
    userId: "53c5f869-8a29-d7f5-ef48-bc598612bb8d"
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
    fontFamily: " Inconsolata-g, Menlo, Consolas, 'DejaVu Sans Mono', monospace"
  tabs:
    usePreviewTabs: false
  core: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    lintOnEdit: false
  react: {}
  "language-babel":
    babelStage: 1
    disableWhenNoBabelrcFileInPath: true
    suppressTranspileOnSaveMessages: true
    transpileOnSave: false
  "clip-history": {}
  "file-icons":
    tabPaneIcon: false
  "find-and-replace":
    openProjectFindResultsInRightPane: true
  "painless-panes": {}
  "fuzzy-finder":
    searchAllPanes: true
    useAlternateScoring: true
  "autocomplete-plus":
    useAlternateScoring: true
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin/elixir"
    erlangHome: "/usr/local/Cellar/erlang/18.1/bin"
  "linter-elixirc":
    elixircPath: "/usr/local/bin/elixirc"
    mixPath: "/usr/local/bin/mix"
".cs.source":
  editor:
    tabLength: 4
