# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

# window/pane navigation
'body, atom-workspace atom-text-editor:not([mini])':
  'cmd-h': 'window:focus-previous-pane'
  'cmd-l': 'window:focus-next-pane'
  'cmd-shift-v': 'pane:split-right'
  'cmd-shift-s': 'pane:split-down'
  'cmd-shift-h': 'window:focus-pane-on-left'
  'cmd-shift-l': 'window:focus-pane-on-right'
  'cmd-shift-k': 'window:focus-pane-above'
  'cmd-shift-j': 'window:focus-pane-below'

'atom-text-editor':
  # expand-region
  'ctrl-s': 'expand-region:expand'
  'ctrl-shift-s': 'expand-region:shrink'
