# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

# window/pane navigation
'body, atom-text-editor':
  'shift-cmd-y': 'pane:show-next-item'
  'shift-cmd-h': 'pane:show-previous-item'
  'shift-cmd-k': 'window:focus-previous-pane'
  'shift-cmd-j': 'window:focus-next-pane'
  'cmd-k cmd-h': 'pane:split-left'
  'cmd-k cmd-j': 'pane:split-down'
  'cmd-k cmd-k': 'pane:split-up'
  'cmd-k cmd-l': 'pane:split-right'
  'alt-h': 'window:focus-pane-on-left'
  'alt-l': 'window:focus-pane-on-right'
  'alt-k': 'window:focus-pane-above'
  'alt-j': 'window:focus-pane-below'

'.fuzzy-finder atom-text-editor[mini]':
  'ctrl-v': 'pane:split-right'
  'ctrl-s': 'pane:split-down'

'atom-text-editor':
  # expand-region
  'ctrl-s': 'expand-region:expand'
  'ctrl-shift-s': 'expand-region:shrink'
  'ctrl-i (': 'expand-region:select-inside-parentheses'
  'ctrl-i [': 'expand-region:select-inside-square-brackets'
  'ctrl-i {': 'expand-region:select-inside-curly-brackets'
  'ctrl-i <': 'expand-region:select-inside-angle-brackets'
  'ctrl-i \'': 'expand-region:select-inside-single-quotes'
  'ctrl-i "': 'expand-region:select-inside-double-quotes'
  'ctrl-i `': 'expand-region:select-inside-back-ticks'
  'ctrl-i t': 'expand-region:select-inside-tags'
  'ctrl-o (': 'expand-region:select-around-parentheses'
  'ctrl-o [': 'expand-region:select-around-square-brackets'
  'ctrl-o {': 'expand-region:select-around-curly-brackets'
  'ctrl-o <': 'expand-region:select-around-angle-brackets'
  'ctrl-o \'': 'expand-region:select-around-single-quotes'
  'ctrl-o "': 'expand-region:select-around-double-quotes'
  'ctrl-o `': 'expand-region:select-around-back-ticks'
  'ctrl-o t': 'expand-region:select-around-tags'

  # block-travel
  'alt-p': 'block-travel:move-up'
  'alt-n': 'block-travel:move-down'
  'alt-å': 'block-travel:move-down' # this is how os x sends alt-n sometimes
  'alt-Å': 'block-travel:move-down' # this is how os x sends alt-n sometimes
  'alt-shift-p': 'block-travel:select-up'
  'alt-shift-n': 'block-travel:select-down'
